.item-card{
    max-width: 270px;
}
.avatar-img{
    background-image: url("../../../assets/casa-do-artesao-logo.jpg");
    background-size: 100%;
}
.item-button{
    font-size: small;
    max-width: 120px;
    max-height: 50px;

}


#button-container{
    display: flex;
    justify-content: space-evenly;
}

p{
    margin: 10px;
}