<mat-card class="item-card">

    <mat-card-header>
      <div mat-card-avatar class="avatar-img" style="background-image: url('{{profileUrl}}');"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions id="button-container">

      <button class="item-button" mat-fab extended color="warn">
        <mat-icon>favorite</mat-icon>
        GOSTEI
      </button>

      <button class="item-button" mat-fab extended color="basic">
        <mat-icon>save</mat-icon>
        SALVAR
      </button>

    </mat-card-actions>
</mat-card>
  