.default{
    width: 100%;
    min-height: 100px;
    
    margin: 10px auto 10px auto;

    padding: 15px;

}

.accent{
    width: 100%;
    min-height: 100px;
    
    margin: 10px auto 10px auto;

    padding: 15px;

    background-color: rgba(135, 199, 255, 0.315);
}