<section id="main-body">
    
    <div id="home-img-container">
    </div>

    <header id="centered">
        <div id="logo-container"></div>
        <h1 id="home-title">Casa do Artesão</h1>
    </header>

    <div>
        <mat-icon fontIcon="favorite"></mat-icon>
        Populares
    </div>

    <mat-grid-list cols="4" rowHeight="450px">
        <mat-grid-tile>
            <app-home-item></app-home-item>
        </mat-grid-tile>

        <mat-grid-tile>
            <app-home-item></app-home-item>
        </mat-grid-tile>

        <mat-grid-tile>
            <app-home-item></app-home-item>
        </mat-grid-tile>

        <mat-grid-tile>
            <app-home-item></app-home-item>
        </mat-grid-tile>

    </mat-grid-list>
      

<!--
    <mat-grid-list cols="2" rowHeight="2:1">
            <app-home-item></app-home-item>
            <app-home-item></app-home-item>
            <app-home-item></app-home-item>
            <app-home-item></app-home-item>
        </mat-grid-list>
-->

</section>