<aside class="sides" id="left"></aside>
<aside class="sides" id="right"></aside>


<section id="main-body">
    
    <div id="home-img-container">
    </div>


    <header id="centered">
        <div id="logo-container"></div>
        <h1 id="home-title">Casa do Artesão</h1>
    </header>

    
    <app-grid-container>

        <app-post></app-post>

    </app-grid-container>
    
    <app-grid-container background="accent">

        <app-recomendation>Populares</app-recomendation>

    
            <mat-grid-list cols="4" rowHeight="450px">
                <mat-grid-tile>
                    <app-home-item></app-home-item>
                </mat-grid-tile>
        
                <mat-grid-tile>
                    <app-home-item></app-home-item>
                </mat-grid-tile>
        
                <mat-grid-tile>
                    <app-home-item></app-home-item>
                </mat-grid-tile>
        
                <mat-grid-tile>
                    <app-home-item></app-home-item>
                </mat-grid-tile>
        
            </mat-grid-list>
    
    </app-grid-container>

    <app-grid-container background="default">

        
          
          

    </app-grid-container>
      

<!--
    <mat-grid-list cols="2" rowHeight="2:1">
            <app-home-item></app-home-item>
            <app-home-item></app-home-item>
            <app-home-item></app-home-item>
            <app-home-item></app-home-item>
        </mat-grid-list>
-->

</section>