<section class="post">

    

    <section class="content">

        <div 
            class="content-img"
            style="background-image: url('{{contentImgUrl}}');">
        </div>

        <section class="content-text">
            <header>

                <div 
                    class="profile-img" 
                    style="background-image: url('{{profileUrl}}');">
                </div> 
                
                <section class="user-data">
                    <h2 class="username">{{username}}</h2>
                    <h5 class="cargo"><b>{{cargo}}</b></h5>
                </section>

                <h1><b>{{titulo}}</b></h1>
        
            </header>
            <section>
                <p>
                    {{conteudo}}
                </p>
            </section>
            <footer>{{data}}</footer>
        </section>

        
    </section>
    

</section>